*{
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: "oswald" ;
    src: url(fonts/Oswald-Medium.ttf);
}

#bk{
    width: 100%; 
    height: 100%;

}

#logo{
    position: absolute;
    width: 89px;
    height: 89px;
    left: 0px;
    top: 0px;
}

#name{
    
    font-family: "oswald" ;
    position: absolute;
    top: 20px;
    left: 95px;
}

#title{
    position: absolute;
    font-family: "oswald";
    width: 506px;
    height: 80px;
    left: 524px;
    top: 158px;
}

#container{
    position: absolute;
    width: 809px;
    height: 602px;
    left: 265px;
    top: 234px;
    background: #086E7D;
    border-radius: 15px;
}

#cntr{
    margin-left: 80px;
    margin-top: 250px;
}

#cntr > input{

    width: 300px;
    height: 49px;
    margin-top: 30px;
    margin-right: 60PX;
    background-color: white;
    border: 0px;
    border-radius: 15px;
    
}

input :focus{
    border-color: #00B8EA;
}

#bluep{
    width: 195px;
    height: 194px;
    position: absolute;
    top: 30px;
    left: 310px;
}

#btn{
    box-sizing: border-box;
    position: absolute;
    width: 149px;
    height: 47px;
    left: 335px;
    top: 485px;   
    background-color: white;
    border: 0px ;
    border-radius: 15px;
    font-family: 'oswald';

}

#btn:hover{
    
    background-color: #00B8EA ;
}



#site{
    position: absolute;
    left: 600px;
    top: 1000px;
    margin-bottom: 20px;
    color: black;
    font-family: 'oswald';
   
}

#site:after{
color: black;
}